@import url('https://fonts.googleapis.com/css?family=Raleway');

footer{
  position: fixed;
  min-height: 3em;
  color: black;
  font-size: 0.9em;
  bottom: 0;
  width: 100%;
  padding-top: 0.5em;
  margin-top: 1em;
}

.footer-text{
  float: right;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}